html{font-size: 10px;}
body{font-size: 14px;margin: 0px;padding: 0px;font-family:arial;font:arial;font-weight: 500;}
ul,li,p{margin: 0px;padding: 0px;text-decoration: none;list-style: none;}
li{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
a:link{}
a:hover{text-decoration:none;}
.contain{padding: 0px;}
.ceramics{width: 900px;margin: 50px auto;height: 130px;}
.ceramics a{border-right: 1px dashed #D4D4D4;display: block;height: 130px;}
.ceramics a:nth-of-type(6){border-right:none;}
.ceramics font{color: #aaaaaa;margin-top: 5px;display: block;}
